<!DOCTYPE html>
<html>
  <head>
    <title>RailsFoodlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render "shared/header" %>
    <% if notice.present? %>
      <p class="notification is-primary is-light"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="notification is-danger is-light"><%= alert %></p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
